@import url('./main/hero-section.css');
@import url('./main/about-section.css');
@import url('./main/advantages-section.css');
@import url('./main/partners-section.css');

.main {
    position: relative;
    z-index: 1;
}
.section:not(:first-child) {
    padding: 100px 0;
}
.section:first-child {
    margin-bottom: 100px;
}