.section {
}
.about-section {
}
.container {
}
.about-section .content {
}
.about-section .about-content {
    display: flex;

    gap: 24px;
}
.about-section .about-block {
    position: relative;

    flex: 1 1 50%;

    height: 542px;
}
.about-section .border-block {
    position: relative;

    max-width: 526px;
    max-height: 499px;
    height: 100%;
    
    border: 30px solid transparent;
    border-image: var(--main-grad2);
    border-image-slice: 1;
}
.about-section .image-wrapper {
    position: absolute;
    top: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    max-width: 526px;
    width: 100%;
    height: 100%;
}
.about-section .image-block {
    display: flex;
    width: 446px;
    height: 446px;

    /* transform: translateY(66px); */
}
.about-section .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 45px;

    margin-top: 69px;
}
.about-section .title {
    font-size: 48px;
}
.about-section .text {
    font-size: 16px;
    line-height: 160%;
}