.section {
}
.advantages-section {
}
.advantages-section .container {
}
.advantages-section .content {
}
.advantages-section .advantages-content {
    display: flex;
    flex-direction: column;

    gap: 80px;
}
.advantages-section .advantages-content:not(:last-child) {
    margin-bottom: 200px;
}
.advantages-section .advantages-block {
    display: flex;
}
.advantages-section .advantages-block:nth-child(1) {
    flex-direction: column;
    gap: 50px;
}
.title-block {
}
.advantages-section .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 78px;
    height: 78px;
}
.advantages-section .icon {
}
.advantages-section .title {
}
.advantages-section .text {
    max-width: 411px;

    line-height: 160%;
    opacity: .5;
}
.advantages-section .item {
    flex: 1 1 25%;

    display: flex;
    flex-direction: column;

    gap: 35px;
}
.advantages-section .indicator-block {
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.advantages-section .item-amount {
    display: inline-block;

    font-size: 36px;
    line-height: 50px;
}
.advantages-section .rectangle-block {
    display: flex;
    align-items: center;
    height: 80px;
}
.advantages-section .rectangle {
    width: 100%;
    height: 100%;
    background: var(--main-grad2);
}
.advantages-section .item:nth-child(2) .rectangle {
    height: 75%;
}
.advantages-section .item:nth-child(3) .rectangle {
    height: 50%;
}
.advantages-section .item:nth-child(4) .rectangle {
    height: 15%;
}
.advantages-section .rectangle_revert {
    transform: scale(-1);
}
.advantages-section .item-description {
    font-size: 14px;
    padding-right: 30px;
}

/*  */
.advantages-section .advantages-content:nth-child(2) .advantages-block {
    align-items: center;
    gap: 120px;
}
.advantages-section .advantages-block {
}
.advantages-content:nth-child(2) .cards-block {
    display: flex;
    
    width: 100%;
    
    gap: 80px;
}
.advantages-content:nth-child(2) .item {
    flex: 1 1 33.333%;

    display: flex;
    align-items: center;

    gap: 60px;
}
.advantages-content:nth-child(2) .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.advantages-content:nth-child(2) .icon {
}
.advantages-content:nth-child(2) .item-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.advantages-content:nth-child(2) .text {
}
.advantages-content:nth-child(2) .item-description {
    display: flex;
    flex-direction: column;
    
    max-width: 358px;

    gap: 30px;
    padding: 0;
    
    font-size: 16px;
    text-align: center;
}